.App {
  text-align: center;
}
html{
  background-color: burlywood;
}
h1{
  position: absolute;
  text-align: center;
}

.home-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  display:flex;
  flex-flow:column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.order-container{
  border:1px solid black;
  margin: .5%;
  padding: 0.5% 1% .5% 1%; 
}
p{
  font-weight: 900;
  color: black;
}

#goldname{
  font-weight: 900;
  font-size:1.2rem;
  color: orange;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  
}
#spec{
  font-weight: 900;
  color: red;
}
.pepperoni{
  font-weight: 900;
  color: crimson;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.pineapple{
  font-weight: 900;
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.jalapeno{
  font-weight: 900;
  color: green;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.mushrooms{
  font-weight: 900;
  color: brown;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.orders-container{
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: black;
  border: solid black;
  background-color: crimson;
  height:3%;
  margin:2%;
  padding:1%;
  position: relative;
}
.header-nav{
  display: flex;
  flex-flow: row;
  background-color: orangered;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid black;
}
.header-nav h1{
  width:100%;
}
.home-container{
  display: flex;
  flex-flow:column;
}
#pizzaman{
  width:50%;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
