.App {
  text-align: center;
}

h1{
  text-align: center;
  background-color: orangered;
}

.home-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  display:flex;
  flex-flow:column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
